h1 {
    font-size: 60px;
    text-align: center;
}

html {
    background-color: #ffffff;
}

img {
    display: block;
    margin: 0 auto;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #c9e4f4;
    padding: 0 100px 100px 100px;
    border: 5px solid black;
  }